apiVersion: v1
kind: Secret
metadata:
  name: <APP_NAME>-ssh-keys  # e.g. vscode-sandbox-ssh-keys
  namespace: <NAMESPACE>
type: Opaque
stringData:
  authorized_keys: |
    <SSH_PUBLIC_KEY>  # e.g. ssh-ed25519 AAAA... user@host
